<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TnzeЁЯМ╕ц╜ощгОф║н ф║║щАацЩ║цЕзхдзх╖ехМашБЦчЯ│ф╜Ьценч│╗ч╡▒</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
